
QueryProcessor/QueryProcessor/bin/Debug/QueryProcessor.exe
MetaDatabaseCreator/MetaDatabaseCreator/obj/Debug/MetaDatabaseCreator.pdb
MetaDatabaseCreator/MetaDatabaseCreator/obj/Debug/MetaDatabaseCreator.exe
MetaDatabaseCreator/MetaDatabaseCreator/obj/Debug/MetaDatabaseCreator.csproj.FileListAbsolute.txt
MetaDatabaseCreator/MetaDatabaseCreator/obj/Debug/MetaDatabaseCreator.csproj.CoreCompileInputs.cache
MetaDatabaseCreator/MetaDatabaseCreator/Database/workload.txt
MetaDatabaseCreator/MetaDatabaseCreator/Database/metaload.txt
MetaDatabaseCreator/MetaDatabaseCreator/Database/autompg.sql
QueryProcessor/QueryProcessor/bin/Debug/QueryProcessor.pdb
QueryProcessor/QueryProcessor/bin/Debug/QueryProcessor.exe
MetaDatabaseCreator/MetaDatabaseCreator/obj/Debug/MetaDatabaseCreator.pdb
MetaDatabaseCreator/MetaDatabaseCreator/obj/Debug/MetaDatabaseCreator.exe
MetaDatabaseCreator/MetaDatabaseCreator/obj/Debug/MetaDatabaseCreator.csproj.FileListAbsolute.txt
MetaDatabaseCreator/MetaDatabaseCreator/obj/Debug/MetaDatabaseCreator.csproj.CoreCompileInputs.cache
MetaDatabaseCreator/MetaDatabaseCreator/bin/Debug/MetaDatabaseCreator.pdb
MetaDatabaseCreator/MetaDatabaseCreator/bin/Debug/MetaDatabaseCreator.exe
